* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
}

nav {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    height: 90px;
    position: fixed;
    width: 100%;
}

header {
    background-image: url(../img/hero.jpg);
    height: 630px;
    object-fit: cover;
    background-position: center 70%;
    background-blend-mode: darken;
}

.logo img {
    padding-left: 30px;
    width: 100px;

}

.logo {
    width: 70%;
}

.navitems {
    width: 30%;

}

.navitems li {
    display: inline-flex;
    color: #50D7EA;
    padding: 5px;
    font-size: 20px;
}

.total-div {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.products {
    margin: 50px;
    align-content: stretch;
}

.products .item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;

}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(131, 131, 131, 0.26), 0 6px 10px 0 rgba(114, 114, 114, 0.274);
}

button {
    height: 50px;
    width: 50px;
    background-color: #50D7EA;
    border-style: none;
    border-radius: 30px;
    color: white;
    margin: 20px;
}

button:hover {
    background-color: #50D7EA;
    box-shadow: inherit;
}

.cardimg {
    height: 200px;
    padding: 50px;
    border-radius: 8px;
}

.quantity {
    width: 80px;
    height: 40px;
    text-align: center;
    border-color: rgb(55, 223, 223);
    border-radius: 5px;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;

}

.fa {
    font-size: 20px;
}

.price {
    font-size: 26px;
}

.liked{
    color: red;
    transform: 0.4s;
}
.like{
    color: #00000030;
}